

.two-factor-authentication {
    text-align: center;
    max-width: 300px;
    margin: 0 auto;
    padding: 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    background-color: #f9f9f9;
  }
  
  .two-factor-authentication h2 {
    color: #333;
    font-size: 27px;
    margin-bottom: 10px;
  }
  
  .two-factor-authentication p {
    color: #666;
    font-size: 14px;
  }
  
  .two-factor-authentication form {
    margin-top: 10px;
  }
  
  .two-factor-authentication input {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }

  label.control-label {
    font-family: SourceSansProSemibold, sans-serif, sans-serif;
    line-height: 20px;
    text-align: left;
    display: block;
    color: #000000;
    margin-top: 20px;
    margin-bottom: 8px;
    font-weight: 550;
    font-size: 14px;
}

.disclaimer-basic {
  font-family: inherit;
  font-weight: 300;
  font-size: 14px;
  height: auto;
  line-height: 18px;
  color: #000000;
  position: relative;
  text-align: left;
  margin: auto;
  padding-top: 5px;
  padding-bottom: 10px
}

.disclaimer-basic.required {
  font-family: inherit;
  font-weight: 300;
  font-size: 14px;
  height: auto;
  line-height: 18px;
  position: relative;
  text-align: left;
  margin: auto;
  padding-top: 5px;
  padding-bottom: 10px;
  color: #d40303;
}